################################################################################
# Il file gitignore è stato creato automaticamente da Microsoft(R) Visual Studio.
################################################################################

/serverTcp/serverTcp/bin/debug/asd/2
/serverTcp/serverTcp/bin/debug/Files/1
/serverTcp/serverTcp/bin/debug/Files/1
/serverTcp/serverTcp/bin/debug/View
/serverTcp/serverTcp/bin/debug/Files/1
